<form>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" 
            class="form-control my-1" 
            id="name" 
            aria-describedby="nameHelp" 
            placeholder="Enter name">
    <small id="nameHelp" 
            class="form-text text-muted">
              Name of the device
    </small>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <div class="input-group">
      <input type="text" 
              class="form-control my-1" 
              id="price" 
              aria-describedby="priceHelp" 
              placeholder="Enter price">
      <div class="input-group-prepend my-1">
        <span class="input-group-text" 
              id="inputGroupPrepend">
                $
        </span>
      </div>
    </div>
    <small id="priceHelp" 
            class="form-text text-muted">
              Price of the device
    </small>
  </div>

  <div class="form-group">
    <label for="imageUrl">Image URL</label>
    <input type="text" 
            class="form-control my-1" 
            id="imageUrl" 
            aria-describedby="imageUrlHelp" 
            placeholder="Enter image url">
    <small id="imageUrlHelp" 
            class="form-text text-muted">
              Image of the device
    </small>
  </div>

  <div class="form-group">
    <label for="shortDescription">Short description</label>
    <textarea class="form-control" 
              id="shortDescription" 
              rows="2">
    </textarea>
  </div>

  <div class="form-group">
    <label for="longDescription">Short description</label>
    <textarea class="form-control" 
              id="longDescription" 
              rows="5">
    </textarea>
  </div>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" 
              type="checkbox" 
              value="" 
              id="available">
      <label class="form-check-label" 
              for="available">
        Is device currently available?
      </label>
    </div>
  </div>

</form>