.nav-menu {
    margin: 10px;
    padding-right: 5px;
    border-right: 1px solid rgb(145, 145, 145);
}

.nav-link:hover {
    background-color: rgb(36, 108, 251);
    color: white;
    cursor: pointer;
}
