<div class="d-flex flex-column justify-content-center">
    <header class="d-flex gap-2 justify-content-end mb-3">
        <button type="button" 
                class="btn btn-primary">
                    Add Device
        </button>
        <button type="button" 
                class="btn btn-primary">
                    <i class="bi-file-earmark-spreadsheet"></i>
        </button>
    </header>

    <div class="alert alert-info text-center col-6" 
        *ngIf="!devices.length">
            There are currently no devices to display
    </div>
</div>