<div class="d-flex flex-column">

    <header class="d-flex gap-2 justify-content-end mb-3">

        <button type="button" 
                class="btn btn-primary" 
                (click)="openAddDeviceModal()">
                    <i class="bi-plus-lg"></i>
        </button>

        <button type="button" 
                class="btn btn-primary" 
                [ngbPopover]="fileInput" 
                triggers="click" 
                [autoClose]="'outside'">
                    <i class="bi-file-earmark-spreadsheet"></i>
        </button>

        <ng-template #fileInput>
            <input type="file"
            (change)="onFileSelected($event)"
            class="form-control"
            accept=".csv">
        </ng-template>

    </header>

    <main class="d-flex flex-column align-items-center">
        
        <div class="alert alert-info text-center col-6" 
            *ngIf="!devices.length">
                There are currently no devices to display
        </div>

        <ng-container *ngFor="let device of devices">
            
            <div class="card col-9 mb-2" 
                (click)="goToDeviceDetails(device)">
                <div class="d-flex align-items-center p-3">
                    <img [src]="device.imageUrl" class="device-card-img"/>
                    <span class="col-9 mx-3">
                        <strong>{{ device.name }}</strong>
                    </span>
                    <span class="device-type">{{ device.type }}</span>
                </div>
            </div>

        </ng-container>

    </main>
</div>