<div class="d-flex justify-content-center">

    <div class="card">

        <div class="card-header d-flex justify-content-between">

            <button type="button" 
                    class="btn btn-light" 
                    (click)="back()">
                        <i class="bi-chevron-left"></i>
            </button>

            <div class="btn-group">
                <button type="button" 
                        class="btn btn-primary" 
                        (click)="openEditModal()">
                            <i class="bi-pen"></i>
                </button>
                <button type="button" 
                        class="btn btn-danger" 
                        (click)="openDeleteModal()">
                            <i class="bi-trash"></i>
                </button>
            </div>
        </div>

        <img class="card-img-top" 
             [src]="device.imageUrl" 
             alt="Device image">
    
        <div class="card-body">
    
            <div class="d-flex align-items-baseline">
                <h5 class="card-title me-2">
                    {{ device.name }}
                </h5> 
                |
                <p class="ms-2">
                    {{ device.price }}$
                </p>
            </div>
    
            <p class="card-text">
                {{ device.shortDescription }}
            </p>
    
            <p class="card-text">
                {{ device.longDescription }}
            </p>
    
            <p>Type: {{ device.type }}</p>
            <p>Available: <em [ngClass]="device.available ? 'bi-check-circle' : 'bi-x-circle'"></em></p>
        </div>
    </div>
</div>